#wrapper{
    width: 100%;
    display: grid;
    margin: 0 0.5%;
    grid-template-columns: 18% 46% 28%;
    grid-template-rows: 80px auto;
    grid-gap: 0 3%;
    grid-template-areas: "logo principal barra-lateral"
                         "barra-nav principal barra-lateral";

    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}

header{
    grid-area: logo;
    color:#00B7D5;
    display: block;
    margin: 0 auto;
}
header > a img{
    width: 90%;
    margin-left: 5%;
}

#barra-navegacao{
    grid-area: barra-nav;
    background-color: #00B4D8;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
}
#barra-navegacao img{
    width: 30%;
    margin: 10px;
    margin-right: 4%;
    border-radius: 25px;
    display: inline;
}
#barra-navegacao h3{
    margin-left: 10px;
    display: inline;
    font-size: 90%;
    position: absolute;
    width: 10%;
    color: white;
}
#barra-navegacao ul{
    margin-top: 40px;
}
#barra-navegacao ul li{
    list-style: none;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    padding: 15px 20px;
    margin-left: -20px;
}
#barra-navegacao ul li:hover{
    background-color: blue;
    border-radius: 10px 0 0 10px;
}
#barra-navegacao ul li.ativo{
    background-color: #03045E;
    border-radius: 10px 0 0 10px;
}
#barra-navegacao .sair{
    display: block;
    margin: 100px auto 40px;
}

main{
    grid-area: principal;
    background-color:#0077B6;
    border-radius: 10px;
    padding: 10px 20px;
    position: relative;
}
main .informacoes-paciente{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 20% 70%;
    grid-template-areas: "voltar foto informacoes";
    position: relative;
}
main .pacientes .voltar{
    position: absolute;
    top: 30px;
    grid-area: voltar;
    height: 35px;
    background-color: white;
    font-size: x-large;
    line-height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 25px;
}
main .informacoes-paciente .esquerda{
    grid-area: foto;
}
main .informacoes-paciente .esquerda img{
    width: 90%;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
}
main .informacoes-paciente .direita{
    grid-area: informacoes;
}
main .pacientes .direita .titulo{
    font-size: 1.5em;
    margin-bottom: 5px;
    color: white;
    text-align: center;
}

#menu ul{
    margin-top: 30px;
    text-align: center;
}
#menu ul li{
    list-style: none;
    margin-bottom: 5px;
   font-weight: normal;
    color: white;
    padding: 15px 6px;
    display: inline;
}

#menu a {
    background-color: #0077B6;
    padding: 10px 10px;
    font-size: 0.6em;
    border-radius: 20px;
    width: 60px;
    text-align: center;
    position: relative;
    border: solid 1px white;
}

#menu i {
    color: white;

}

main .informacoes-paciente .direita .nome {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

main .informacoes-paciente .direita .idade {
    color: white;
    font-size: 0.9em;
    font-weight: normal;
}

main .informacoes-paciente .direita .lembrete {
    color: white;
    font-size: 0.7em;
    font-weight: normal;
    margin-bottom: 5px;
}

main .informacoes-paciente .direita .contador {
    color: white;
    font-size: 1em;
    font-weight: bold;
}

main .informacoes-paciente .direita .perfil {
    color: white;
    font-size: 0.7em;
    font-weight: normal;
    display: block;
    margin-left: 70%;
    text-decoration: underline;
}

main .informacoes-paciente .direita hr{
    margin-top: 30px;
    background-color: #7B7B7B;
    color: #7B7B7B;
    height: 2px;
    border: none;
    width: 100%;
}

main .titulo {
    color: white;
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: center;
}

main .voltar {
    color:white;
    font-size: x-large;
    position: absolute;
    top: 25px;
}


main #corpo{
    margin: 30px 30px;
}


aside{
    grid-area: barra-lateral;
}

.calendario {
    border-radius: 10px;
    background-color: #90E0EF;
    position: relative;
    text-align: center;
    width: 100%;
    height: 295px;
    padding: 20px 0px;
}

.mes {
    width: 100%;
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.mes h1 {
    display: inline;
    font-size: 100%;
    padding: 15px;
    width: 50%;
    text-transform: capitalize;
}

.mes i {
    cursor: pointer;
    color: black;
    font-size: x-large;
    line-height: 10px;
    width: 20px;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
}

.mes a {
    font-size: 1rem;
    color: black;
    font-weight: 600;
    float: left;
    margin-top: 5px;
}


.dias-da-semana {
    background-color: white;
    border-radius: 15px;
    margin: 25px auto 10px;
    width: 90%;
    height: 30px;
    padding-top: 10px ;
    display: flex;
    flex-wrap: wrap;
}

.dias-da-semana div {
    font-size: 1rem;
    margin: 1px;
    width: calc(100%/7.5);
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 4.8px 8px rgba(0, 0,0, 0.5);
    display: inline;
}

.dias {
    background-color: white;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.dias div {
    font-size: 1rem;
    margin: 1px;
    width: calc(100%/7.5);
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 4.8px 8px rgba(0, 0,0, 0.5);
    transition: bacground-color 0.2s;
}

.dias div:hover:not(.hoje) {
    background-color: gray;
    border: 0px solid #777;
    cursor: pointer;
    border-radius: 25px;
}

.data-anterior,
.proxima-data {
    opacity: 0.5;
}

.hoje {
    background-color: blue;
    color: white;
    border-radius: 25px;
}



@media (max-width: 1240px){
    aside #calendario table thead tr td, aside #calendario table tbody tr td{
        font-size: 0.8em;
    }
}
@media (max-width: 1200px){
    aside #calendario table thead tr td, aside #calendario table tbody tr td{
        font-size: 0.7em;
        padding: 3px 11px;
    }
    aside #calendario table thead tr td{
        padding: 5px 14.5px;
    }
}
@media (max-width: 1170px){
    aside #calendario table tbody tr td{
        padding: 3px 11px;
    }
    aside #calendario table thead tr td{
        padding: 5px 14px;
    }
}
@media (max-width: 1160px){
    aside #calendario table tbody tr td{
        padding: 3px 10px;
    }
    aside #calendario table thead tr td{
        padding: 5px 13px;
    }
}
@media (max-width: 1100px){
    aside #calendario table tbody tr td{
        padding: 3px 9px;
    }
    aside #calendario table thead tr td{
        padding: 5px 12px;
    }
}
@media (max-width: 1050px){
    aside #calendario table tbody tr td{
        padding: 3px 8px;
    }
    aside #calendario table thead tr td{
        padding: 5px 11px;
    }
}
@media (max-width: 1000px){
    aside #calendario table tbody tr td{
        padding: 3px 7px;
    }
    aside #calendario table thead tr td{
        padding: 5px 10px;
    }
}
@media (max-width: 950px){
    aside #calendario table tbody tr td{
        padding: 3px 6px;
    }
    aside #calendario table thead tr td{
        padding: 5px 9px;
    }
}

aside #notificacoes-home{
    margin-top: 15px;
    background-color: #0077B6;
    border-radius: 10px;
    position: relative;
    height: 200px;
}
aside #notificacoes-home p{
    color: white;
    font-size: 1.1em;
    padding: 20px 20px 0;
    font-weight: bold;
}
aside #notificacoes-home .ver-todos{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 0.7em;
    color: white;
}
aside #notificacoes-home .notificacao-recente{
    background-color: white;
    margin: 0 20px;
    border-radius: 10px;
    height: 110px;
    padding: 3px 20px;
    position: relative;
}
aside #notificacoes-home .notificacao-recente .paciente-notificacao{
    background-color: #7B7B7B;
    padding: 10px 20px;
    font-size: 0.9em;
    border-radius: 20px;
    width: 60px;
    text-align: center;
}
aside #notificacoes-home .notificacao-recente .opcoes{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #C4C4C4;
    width: 20px;
    text-align: center;
    border-radius: 20px;
    color: #000;
    padding: 0 5px 10px;
}
aside #notificacoes-home .notificacao-recente .descricao{
    font-weight: 600;
    font-size: 0.8em;
    display: block;
    padding-left: 10px;
}
aside #notificacoes-home .notificacao-recente .descricao2{
    margin-top: 5px;
    font-weight: 500;
    font-size: 0.8em;
    display: block;
    padding-left: 10px;
    color: #777777;
}
aside #notificacoes-home .notificacao-recente .descricao3{
    color: #000;
    font-weight: 600;
}

aside .adicionar-medicamento{
    margin-top: 15px;
    background-color: #B61E00;
    border-radius: 10px;
    height: 50px;
    text-align: center;
}
aside .adicionar-medicamento a{
    color: white;
    font-weight: 600;
    line-height: 50px;
    display: block;
}


#adicionar {
  background-color: green;
  border-color: #000000;
  color: #ffffff;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

#adicionar:hover {
  background-color: #000000;
  color: green;
}

.centralizar {
  display: flex;
  justify-content:center;
}



@media (max-width: 920px){
    #wrapper{
        grid-template-columns: 26% 72%;
        grid-template-rows: 80px auto;
        grid-gap: 0 2%;
        grid-template-areas: "logo principal"
                             "barra-nav principal"
                             "barra-lateral barra-lateral";
    }
    aside{
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
        grid-template-rows: auto;
        grid-template-areas: "calendario notificacao"
        "calendario botao-adicionar";
    }
    aside #calendario{
        grid-area: calendario;
        margin-top: 15px;
    }
    aside #calendario table tbody tr td{
        padding: 3px 18px;
    }
    aside #calendario table thead tr td{
        padding: 5px 21.5px;
    }

    @media (max-width: 900px) {
        aside #calendario table tbody tr td{
            padding: 3px 17px;
        }
        aside #calendario table thead tr td{
            padding: 5px 20.5px;
        }
    }
    @media (max-width: 860px) {
        aside #calendario table tbody tr td{
            padding: 3px 15px;
        }
        aside #calendario table thead tr td{
            padding: 5px 18.5px;
        }
        aside #calendario .dias-letras, aside #calendario .dias-numeros{
            padding: 5px 10px;
        }
    }
    @media (max-width: 815px) {
        aside #calendario table tbody tr td{
            padding: 3px 11px;
        }
        aside #calendario table thead tr td{
            padding: 5px 14.5px;
        }
        aside #calendario .dias-letras, aside #calendario .dias-numeros{
            padding: 5px 30px;
        }
    }
    @media (max-width: 780px) {
        aside #calendario .dias-letras, aside #calendario .dias-numeros{
            padding: 5px 25px;
        }
    }
    @media (max-width: 760px) {
        aside #calendario .dias-letras, aside #calendario .dias-numeros{
            padding: 5px 15px;
        }
    }
    @media (max-width: 730px) {
        aside #calendario .dias-letras, aside #calendario .dias-numeros{
            padding: 5px 10px;
        }
    }
    @media (max-width: 700px) {
        aside #calendario .dias-letras, aside #calendario .dias-numeros{
            padding: 5px 0px;
        }
    }
    aside #notificacoes-home{
        grid-area: notificacao;
        padding-bottom: 30px;
    }
    aside .adicionar-paciente{
        padding: 9px;
    }
}

@media (max-width: 670px){
    #wrapper{
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        grid-gap: 15px 0;
        grid-template-areas: "logo"
                             "barra-nav"
                             "principal"
                             "barra-lateral";
    }
    aside{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-template-rows: auto;
        grid-template-areas: "botao-adicionar"
                             "notificacao";
    }
    aside #calendario{
        display: none;
    }
    aside #notificacoes-home{
        grid-area: notificacao;
        padding-bottom: 30px;
    }
    aside .adicionar-paciente{
        margin-top: 0;
        grid-area: botao-adicionar;
        padding: 9px;
    }
    #barra-navegacao{
        position: relative;
    }
    #barra-navegacao img{
        width: 10%;
        margin-right: 0;
    }
    #barra-navegacao h3{
        width: 20%;
    }
    #barra-navegacao ul{
        margin: 0 auto;
    }
    #barra-navegacao ul li{
        padding: 15px;
        font-size: 0.8em;
        margin-bottom: 0px;
        display: inline;
        float: left;
        margin-left: 0px;
        margin-right: 1px;
    }
    #barra-navegacao ul li:hover{
        border-radius: 10px 10px 0 0;
    }
    #barra-navegacao ul li.ativo{
        border-radius: 10px 10px 0 0;
    }
    #barra-navegacao .sair{
        width: 7%;
        display: block;
        position: absolute;
        top: -85px;
        right: 20px;
    }
}

@media (max-width: 480px){
    #menu ul li{
        padding: 0px;
    }
    #menu a{
        padding: 10px 5px;
    }
}
@media (max-width: 440px){    
    #barra-navegacao ul{
        margin: 10px auto 0;
    }
    #barra-navegacao ul li{
        padding: 10px;
    }
    #barra-navegacao ul li:hover{
        border-radius: 10px 10px 0 0;
    }
    #barra-navegacao ul li.ativo{
        border-radius: 10px 10px 0 0;
    }
}
@media (max-width: 380px){
    #barra-navegacao ul li{
        padding: 7px;
    }
}