body{
    position: relative;
}
#wrapper{
    opacity: 15%;
    pointer-events: none;
}
#configuracoes-aberto{
    position: absolute;
    width: 40%;
    left: 30%;
    top: 20%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
}
#configuracoes-aberto h2{
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 15px;
}
#configuracoes-aberto hr{
    width: 90%;
    border-bottom: none;
    background-color: black;
    height: 1.5px;
}
#configuracoes-aberto .config-opcao, #configuracoes-aberto .config-sair{
    display: block;
    width: 44%;
    background-color: aqua;
    border-radius: 15px;
    margin: 15px auto;
    padding: 15px;
    text-align: center;
    font-size: 0.9em;
}
#configuracoes-aberto .config-sair{
    border-radius: 10px;
    background-color: #b61e00;
    color: white;
    width: 39%;
    font-size: 1em;
    font-weight: 900;
    margin: 50px auto 20px;
}
#configuracoes-aberto .config-voltar{
    display: block;
    margin-top: -47px;
    margin-left: 5%;
    font-size: 2em;
    width: 10px;
    color: black;
}

@media (max-width: 1100px){
    #configuracoes-aberto{
        width: 50%;
        left: 25%;
    }
}

@media (max-width: 920px){
    #configuracoes-aberto{
        width: 60%;
        left: 20%;
    }
}

@media (max-width: 670px){
    #configuracoes-aberto{
        width: 80%;
        left: 10%;
        top: 10%;
    }
}