para{
    position: absolute;
    top: 240px;
    left: 75px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-align: left;
}
img[id="img1"]{
    position: absolute;
    top: 28%;
    left: 5%;
}
pare{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00B4D7;
    top: 92.4%;
    width: 100%;
    font-size: 22;
    color: white;
    right: 0.5px;
    text-indent: 120px;
    
}
body{
    background-color: rgb(217, 227, 248);
}
.box1{
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    background-color: #b0daee;
    text-align: center;
    border-radius: 10px;
    border : none;
    box-shadow: 0 5px 45px rgba(0, 0, 0,0.35);
    padding: 2% 2%;
}
fieldset
{
   border: 3px double #90c1d6;
   border-radius: 10px; 
}

legend
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color:#036494;
    text-shadow: 1px 2px 4px #337381;
}
.box1 input[type = "email"]{
    border: 0;
    background-color: #b0daee;
    display: block;
    margin: 30px auto;
    text-align: left;
    border: 1.75px solid rgb(2, 132, 255);
    padding:  14px 20px;
    width: 260px;
    outline: none;
    color: #7c8081;
    border-radius: 10px;
    transition: 0.25s;
}
.box1 input[type = "email"]:focus{
    border: 1.75px solid #011AD6;
    color: black;
}
.box1 input[type = "password"]{
    border: 0;
    background-color: #b0daee;
    display: block;
    margin: 30px auto;
    text-align: left;
    border: 1.75px solid rgb(2, 132, 255);
    padding:  14px 20px;
    width: 260px;
    outline: none;
    color: #7c8081;
    border-radius: 10px;
    transition: 0.25s;
}
.box1 input[type = "password"]:focus{
    border: 1.75px solid #011AD6;
    color: black;
}

.box1 input[type = "button"]{
    border: 2px solid #00B4D7;
    background-color: #00B4D7;
    display: block;
    margin: 30px auto;
    text-align: center;
    padding:  20px 15px;
    width: 240px;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.box1 input[type="button"]:hover{
    background-color: #b0daee;
    color: #00B4D7;
    border: 2px solid #00B4D7;
}
.box1 lk input[type="button"]{
    background-color: #011AD6;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #011AD6;
    padding:  20px 15px;
    width: 160px;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.box1 lk input[type="button"]:hover{
    background-color: #b0daee;
    color: #011AD6;
    border: 2px solid #011AD6;
}
a:link{
    color:rgb(2, 4, 138) ;
    text-decoration: none;
}
ll a:link{
    color:rgb(2, 4, 138) ;
    text-decoration: none;
}
ll a:visited{
    color: rgb(2, 4, 138);
}
@media(max-width:1240px){
    img[id="img1"]{
        width: 500px;
        position: relative;
        top: 175px;
        left: 5%;
    }
     para p{
        font-size: 90%;
        left: 5%;
        position: relative;
        left: 1
     }
     pare p{
         height: 21px;
     }
}
@media(max-width:1200px){
    img[id="img1"]{
        width: 400px;
        position: relative;
        top: 200px;
        left: 5%;
    }
     para p{
        font-size: 85%;
        left: 5%;
        position: relative;
        left: 1px;
        top: 15px;
     }
     pare p{
         height: 21px;
     }
}
@media(max-width:900px){
    img[id="img1"]{
        width: 300px;
        position: relative;
        top: 10px;
        left: 33%;
    }
     para p{
        color: transparent;
     }
     pare p{
         height: 21px;
     }
     .box1{
         left: 50%;
     }
}
@media(max-width:850px){
    img[id="img1"]{
        width: 300px;
        position: relative;
        top: 10px;
        left: 32%;
    }
    para p{
        color: transparent;
        }
    pare p{
            height: 21px;
        }
    .box1{
            left: 50%;
        }
}
@media(max-width:800px){
    img[id="img1"]{
        width: 300px;
        position: relative;
        top: 10px;
        left: 31%;
    }
    para p{
        color: transparent;
        }
    pare p{
            height: 21px;
        }
    .box1{
            left: 50%;
        }
}
@media(max-width:700px){
    img[id="img1"]{
        width: 300px;
        position: relative;
        top: 10px;
        left: 29%;
    }
    para p{
        color: transparent;
        }
    pare p{
            height: 21px;
        }
    .box1{
            left: 50%;
        }
}
@media(max-width:600px){
    img[id="img1"]{
        width: 300px;
        position: relative;
        top: 10px;
        left: 26%;
    }
    para p{
        color: transparent;
        }
    pare p{
            height: 21px;
        }
    .box1{
            left: 50%;
        }
}
@media(max-width:500px){
    body{
        background: #b0daee;
    }
    pare{
        height: 0;
    }
    img[id="img1"]{
        width: 0px;
        
    }
    .box1{
        display: none;
    }
}
.container{
    width: 100vw;
    height: 100vh;
    background: rgba(255, 254, 254, 0.767);
    position: fixed;
    top: 0px;
    left: 0px;


}
.box3
{
    width: 420px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #b0daee;
    text-align: center;
    border-radius: 10px;
    border : none;
    box-shadow:  4px 4px 1px rgb(175, 175, 175);
    box-shadow: 0 5px 45px rgba(0, 0, 0,0.35);
    padding: 2% 2%;
}

fieldset
{
   border: 3px double #90c1d6;
   border-radius: 10px; 
}

legend
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color:#036494;
    text-shadow: 1px 2px 4px #337381;
    cursor: default;
}
para1{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: left;
    color:#036494;
    cursor: default;
}
w input[type="radio"]{
    display: none;
}
w label{
    color: rgb(80, 80, 80);
    background-color: #b0daee;
    font-family: 'Poppins',sans-serif;
    float: left;
    position: relative;
    text-align:center;
    width: 93.5px;
    font-size: 13px;
    margin: 20px auto;
    border: 1.75px solid rgb(2, 132, 255);
    border-radius: 10px;
    padding: 15px 13.5px;
    align-items: left;
    margin-left: 2px;
    margin-top: -3%;
    justify-content: space-between;
    transition: 0.5s;
    cursor: pointer;
}
w label>span{
    font-size: 13px;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%,80%);
    font-family: sans-serif;
    font-weight: 500;
}
w input[id="fema"]:checked + label{
    background-color: #E81330;
    border: 1.75px solid #E81330;
    color: #ffffff;
    box-shadow: 0 15px 45px #86021483;
}
w input[id="male"]:checked + label{
    background-color: #00B7D5;
    border: 1.75px solid #00B7D5;
    color: #ffffff;
    box-shadow: 0 15px 45px #006f8080;
}
w input[id="ou"]:checked + label{
    background-color: #01ff4d;
    border: 1.75px solid #01ff4d;
    color: #ffffff;
    box-shadow: 0 15px 45px #00832783;
}
o input[type="radio"]{
    display: none;
}
o label{
    height: 90px;
    width: 93.5px;
    border: 1.75px solid transparent;
    position: relative;
    margin: auto ;
    padding: 7px 46px;
    border-radius: 10px;
    color: rgb(80, 80, 80);
    transition: 0.5s;
    margin:  1.75px;
    margin-top: -9px;
    float: left;
    cursor: pointer;
   
}
o label>span{
    font-size: 13px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,80%);
    font-family: sans-serif;
    font-weight: 500;
}
o input[type="radio"]:checked + label{
    background-color: #00b9d533;
    color: #036494;
    box-shadow: 0 15px 45px rgba(3, 17, 148, 0.336);
}

o img{
    width: 70%;
    height: auto;
}
hr[id="t02"]{
    position: absolute;
    width: 1px;
    height: 90px;
    left: 49.5%;
    top: 35.5%;
}

.box3 input[type="date"]{
    color: rgb(80, 80, 80);
    background-color: #b0daee;
    font-family: 'Poppins',sans-serif;
    float: left;
    text-align:center;
    font-size: 13px;
    margin: 20px auto;
    border: 1.75px solid rgb(2, 132, 255);
    border-radius: 10px;
    padding: 10px 14.5px;
    align-items: left;
    margin-left: 0.5%;
    margin-top: -3%;
    transition: 0.5s;
    text-decoration: none;
    cursor: pointer;
} 
.box3 input[type="date"]:focus{
    border: 1.75px solid #011AD6;
}
.box3 l1{
    color:#036494;
    position: absolute;
    top: 363px;
    left: 38px;
    text-align: left;
    font-size: 13px;
    font-family: sans-serif;
    cursor: default;
}
.box3 input[type="button"]
{
    background-color: #E81330;
    margin: 30px auto;
    text-align: center;
    border: 1.5px solid #E81330;
    padding:  14px 12px;
    width: 100px;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.6s;
    cursor: pointer;
    align-items: left;
    margin-top: 20px;
    margin-right: 265px;
}
a[id="li01"]{
    cursor: default;
}

.box3 input[type="button"]:hover
{
    background: #b0daee;
    border-color: #E81330;
    color: #E81330;
}

.box3 y input[type="button"]
{
    background-color: #00B7D5;
    margin: 30px auto;
    text-align: center;
    border: 1.5px solid #00B7D5;
    padding:  14px 12px;
    width: 100px;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
    align-items: center;
    margin-top: 0px;
    margin-left: -100px;
}

.box3 y input[type="button"]:hover
{
    background: #b0daee;
    border-color: #00B7D5;
    color: #00B7D5;;
}
@media(max-width:500px){
    .container{
        background-color: #b0daee;
    }
    body{
        background: #b0daee;
    }
    .box3{
        background: none;
        border: none;
        box-shadow: none;
        left: 50%;
        top: 50%;
    }
    fieldset{
        border: none;
    }
   .box3 l1{
       top: 350px;
       left: 21px;
   }
   hr[id="t02"]{
       top: 35%;
   }
}
@media(max-width:450px){
    legend{
        font-size: 25px;
    }
    .box3 l1{
        top: 342px;
        left: 20px;
    }
    hr[id="t02"]{
        top: 34%;
    }
}
@media(max-width:375px){
   .box3{
       left: 50%;

   }
    para1{
       text-align: center;
   }
   w label{
       width: 93.5px;
       margin-right: -10px;
       margin-left: 15px;
       padding: 15px 10px;
   }
   o label{
        width: 93px;
        margin-left: 10px;
        margin-right: -9px;
        padding: 7px 45px;
   }
   .box3 l1{
        top: 335px;
        left: 20px;
   }
   hr[id="t02"]{
       top: 33.5%;
   }
   .box3 l1{
    left: 33px;
   }
   .box3 input[type="date"]{
    padding: 7px 14.5px;
    margin-left: 15px;
   }
}
