body{
    background-image: url(imagens/back.png);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 98%;
    max-width: 100px;
    height: 100%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.box{
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #b0daee;
    text-align: center;
    border-radius: 10px;
    border : none;
    box-shadow:  4px 4px 1px rgb(175, 175, 175);
    padding: 2% 2%;
}
.box h1{
    font-family: sans-serif;
    text-align: left;
    color: rgb(2, 4, 138);
    text-shadow: 3px 2px 3px #67828f;
    text-indent: 20px;
}
.box input[type = "textoa"]{
    position: absolute;
    border: 0;
    background-color: #b0daee;
    display: block;
    margin: 30px auto;
    text-align: left;
    border: 1.75px solid rgb(2, 132, 255);
    padding:  8px 14px;
    float: left;
    width: 160px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.25s;
    margin-left: 5px;
}

.box input[type = "textoa"]:focus{
    border: 1.75px solid rgb(1, 224, 57)
}

.box input[type = "textob"]{
    border: 0;
    background-color: #b0daee;
    display: block;
    margin: 30px auto;
    text-align: left;
    border: 1.75px solid rgb(2, 132, 255);
    padding:  8px 14px;
    float: right;
    width: 160px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
    margin-right: 5px;
}
.box input[type = "textob"]:focus{
    border: 1.75px solid rgb(1, 224, 57)
}

.box input[type = "email"]{
    border: 0;
    background-color: #b0daee;
    display: block;
    margin: 30px auto;
    text-align: left;
    border: 1.75px solid rgb(2, 132, 255);
    padding:  8px 14px;
    width: 360px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
}   
.box input[type = "email"]:focus{
    border: 1.75px solid rgb(1, 224, 57)
} 
.box input[type = "password"]{
    border: 0;
    background-color: #b0daee;
    margin: 30px auto;
    text-align: left;
    border: 1.75px solid rgb(2, 132, 255);
    padding:  8px 14px;
    width: 160px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
    margin-top: 0%;
    margin-right: 1.5px;
} 
.box l input[type="password"]{
    border: 0;
    background-color: #b0daee;
    margin: 30px auto;
    text-align: left;
    border: 1.75px solid rgb(2, 132, 255);
    padding:  8px 14px;
    width: 160px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
    margin-top: 0%;
    margin-left: 1px;
} 
.box input[type = "password"]:focus{
    border: 1.75px solid rgb(1, 224, 57);
    
}   
.box select[name="estados"]{
    border: 0;
    background-color: #b0daee;
    display: block;
    margin: 30px auto;
    text-align: left;
    border: 1.75px solid rgb(2, 132, 255);
    padding:  7px 14px;
    width: 192px;
    top: 10px;
    float: left;
    outline: none;
    color: rgb(80, 80, 80);
    border-radius: 10px;
    transition: 0.25s;
    margin-top: 0%;
    margin-left: 5px;
    
}
.box select[name = "estados"]:focus{
    border: 1.75px solid rgb(1, 224, 57);
} 
.box input[type = "textoe"]{
    border: 0;
    background-color: #b0daee;
    display: block;
    margin: 30px auto;
    text-align: left;
    border: 1.75px solid rgb(2, 132, 255);
    padding:  8px 14px;
    float: right;
    width: 160px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
    margin-top: 0%;
    margin-right: 5px;
}  
.box input[type = "textoe"]:focus{
    border: 1.75px solid rgb(1, 224, 57);
} 
.box button[type = "submit"]{
    background-color: #E81330;
    margin: 30px auto;
    text-align: center;
    border: 1.5px solid #E81330;
    padding:  14px 12px;
    width: 135px;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.25s;
    align-items: center;
    margin-top: 20px;
    margin-right: 55px;
}
.box o button[type="submit"]{
    background-color: #00B7D5;
    margin: 30px auto;
    text-align: center;
    border: 1.5px solid #00B7D5;
    padding:  14px 12px;
    width: 135px;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.25s;
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
}
.box button[type="submit"] a:link{
    color:rgb(255, 255, 255) ;
    font-family: sans-serif;
    text-decoration: none;
}
.box button[type="submit"] a:visited{
    color: rgb(255, 255, 255);
}
@media only screen and (min-width: 300px) and (max-width:667px){
    
    
    .box{
        width: 250px;
        padding: 2% 2%;
    }
    .box input[type = "textoa"]{
        margin: 20px auto;
        padding:  5px 10px;
        width: 100px;
    }
    .box input[type = "textob"]{
        margin: 20px auto;
        padding:  5px 10px;
        width: 100px;
    }
    .box input[type = "email"]{
        margin: 20px auto;
        padding:  5px 10px;
        width: 227px;
    } 
    .box input[type = "password"]{
        float: left;
        margin: 20px auto;
        padding:  5px 10px;
        width: 100px; 
        margin-top: 0%;
        margin-right: 1px;
    }
    .box l input[type="password"]{
        margin: 20px auto;
        padding:  5px 10px;
        width: 100px;
        margin-top: 0px;
        margin-left: 1px;
    }
    .box select[name="estados"]{
        margin: 20px auto;
        padding:  4px 10px;
        width: 125px;
        margin-top: 0%;
    }
    .box input[type = "textoe"]{
        margin: 20px auto;
        padding:  5px 10px;
        width: 100px;
        margin-top: 0%;
    }  
    .box o button[type="submit"]{
        margin: 20px auto;
        padding:  10px 9px;
        width: 100px;
        float: right;
        margin-top: -58px;
        margin-left: 60px;
    }
    .box button[type = "submit"]{
        margin: 20px auto;
        padding:  10px 9px;
        width: 100px;
        float: left;
        margin-top: 0px;
        margin-right: 60px;
    }
    .box h1{
        font-family: sans-serif;
        text-align: left;
        font-size: 20px;
        color: rgb(2, 4, 138);
        text-shadow: 3px 2px 3px #67828f;
    }

}
