#wrapper{
    width: 100%;
    display: grid;
    margin: 0 0.5%;
    grid-template-columns: 18% 46% 28%;
    grid-template-rows: 80px auto;
    grid-gap: 0 3%;
    grid-template-areas: "logo principal barra-lateral"
                         "barra-nav principal barra-lateral";

    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

header{
    grid-area: logo;
    color:#00B7D5;
    display: block;
    margin: 0 auto;
}
header > a img{
    width: 90%;
    margin-left: 5%;
}

#barra-navegacao{
    grid-area: barra-nav;
    background-color: #00B4D8;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
}
#barra-navegacao >span > img{
    background-color: white;
}
   #barra-navegacao img{
       width: 30%;
       margin: 10px;
       margin-right: 4%;
       border-radius: 15px;
       display: inline;
}
#barra-navegacao h3{
    margin-left: 10px;
    display: inline;
    font-size: 90%;
    position: absolute;
    width: 10%;
    color: white;
}
#barra-navegacao ul{
    margin-top: 40px;
}
#barra-navegacao ul li{
    list-style: none;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
    padding: 15px 20px;
    margin-left: -20px;
}
#barra-navegacao ul li:hover{
    background-color: blue;
    border-radius: 10px 0 0 10px;
}
#barra-navegacao ul li.ativo{
    background-color: #03045E;
    border-radius: 10px 0 0 10px;
}
#barra-navegacao .sair{
    width: 25%;
    display: block;
    margin: 100px auto 30px;
}

main{
    grid-area: principal;
    background-color: #0077B6;
    border-radius: 10px;
    padding: 10px 20px;
    position: relative;
}
main .informacoes-paciente{
    width: 100%;
    display: grid;
    grid-template-columns: 10% 20% 60% 10%;
    grid-template-areas: "voltar foto informacoes opcoes";
    position: relative;
}
main .informacoes-paciente .voltar{
    position: absolute;
    top: 30px;
    grid-area: voltar;
    height: 35px;
    background-color: white;
    font-size: x-large;
    line-height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 25px;
}
main .informacoes-paciente .esquerda{
    grid-area: foto;
}
main .informacoes-paciente .esquerda img{
    width: 90%;
    background-color: #777777;
    margin-top: 20px;
    border-radius: 10px;
}
main .informacoes-paciente .direita{
    grid-area: informacoes;
}
main .informacoes-paciente .direita .nome{
    font-size: 1.5em;
    margin-bottom: 5px;
}
main .informacoes-paciente .direita .idade, main .informacoes-paciente .direita{
    font-size: 0.9em;
    font-weight: bold;
}
main .informacoes-paciente .direita hr{
    margin-top: 15px;
    background-color: black;
    color: black;
    height: 2px;
    border: none;
}
main .informacoes-paciente .direita .data-cadastro, main .informacoes-paciente .direita .lista-medicamentos{
    color: rgba(0, 0, 0, 0.5);
}
main .informacoes-paciente .opcoes{
    position: absolute;
    top: 30px;
    right: 5px;
    grid-area: opcoes;
    height: 35px;
    background-color: white;
    font-size: x-large;
    line-height: 23px;
    width: 35px;
    text-align: center;
    border-radius: 25px;
}
main .informacoes-paciente .voltar a, main .informacoes-paciente .opcoes a{
    color: black;
    padding: 5px 5px 10px 5px;
}
main .informacoes-paciente .voltar a{
    padding: 5px 10px;
}
main #corpo{
    margin: 30px 30px;
}
main .proximas{
    font-size: 1.5em;
}
main .dia-data{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

main .hora-remedio .horario{
    margin-top: 15px;
    display: flex;
}
main .hora-remedio .horario .hora{
    width: 35px;
}
main .hora-remedio .horario hr{
    background-color: white;
    width: 100%;
}
main .hora-remedio .hora, main .hora-remedio hr{
    color: white;
    font-weight: bold;
}
main .hora-remedio .tarefa{
    background-color: white;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 10px;
    color: #0077B6;
    box-shadow: black 1px 1px 4px;
    position: relative;
    margin-bottom: 30px;
}
main .hora-remedio .tarefa .remedio{
    font-weight: bold;
    color: #03045E;
}
main .hora-remedio .tarefa .expandir{
    width: 5%;
    position: absolute;
    right: 20px;
    top: 5px;
    background-color: #C4C4C4;
    padding: 7px 5px 5px 5px;
    border-radius: 15px;
}

aside{
    grid-area: barra-lateral;
}

.calendario {
    border-radius: 10px;
    background-color: #90E0EF;
    position: relative;
    text-align: center;
    width: 100%;
    height: 295px;
    padding: 20px 0px;
}

.mes {
    width: 100%;
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.mes h1 {
    display: inline;
    font-size: 100%;
    padding: 15px;
    width: 50%;
    text-transform: capitalize;
}

.mes i {
    cursor: pointer;
    color: black;
    font-size: x-large;
    line-height: 10px;
    width: 20px;
    text-align: center;
    border-radius: 25px;
    padding: 5px;
}

.mes a {
    font-size: 1rem;
    color: black;
    font-weight: 600;
    float: left;
    margin-top: 5px;
}


.dias-da-semana {
    background-color: white;
    border-radius: 15px;
    margin: 25px auto 10px;
    width: 90%;
    height: 30px;
    padding-top: 10px ;
    display: flex;
    flex-wrap: wrap;
}

.dias-da-semana div {
    font-size: 1rem;
    margin: 1px;
    width: calc(100%/7.5);
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 4.8px 8px rgba(0, 0,0, 0.5);
    display: inline;
}

.dias {
    background-color: white;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.dias div {
    font-size: 1rem;
    margin: 1px;
    width: calc(100%/7.5);
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 4.8px 8px rgba(0, 0,0, 0.5);
    transition: bacground-color 0.2s;
}

.dias div:hover:not(.hoje) {
    background-color: gray;
    border: 0px solid #777;
    cursor: pointer;
    border-radius: 25px;
}

.data-anterior,
.proxima-data {
    opacity: 0.5;
}

.hoje {
    background-color: blue;
    color: white;
    border-radius: 25px;
}

aside #notificacoes-home{
    margin-top: 15px;
    background-color: #0077B6;
    border-radius: 10px;
    position: relative;
    height: 200px;
}
aside #notificacoes-home p{
    color: white;
    font-size: 1.1em;
    padding: 20px 20px 0;
    font-weight: bold;
}
aside #notificacoes-home .ver-todos{
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 0.7em;
    color: white;
}
aside #notificacoes-home .notificacao-recente{
    background-color: white;
    margin: 0 20px;
    border-radius: 10px;
    height: 110px;
    padding: 3px 20px;
    position: relative;
}
aside #notificacoes-home .notificacao-recente .paciente-notificacao{
    background-color: #7B7B7B;
    padding: 10px 20px;
    font-size: 0.9em;
    border-radius: 20px;
    width: 60px;
    text-align: center;
    margin-bottom: 5px;
}
aside #notificacoes-home .notificacao-recente .opcoes{
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #C4C4C4;
    width: 20px;
    text-align: center;
    border-radius: 20px;
    color: #000;
    padding: 0 5px 10px;
}
aside #notificacoes-home .notificacao-recente .descricao{
    font-weight: 600;
    font-size: 0.8em;
    display: block;
    padding-left: 10px;
}
aside #notificacoes-home .notificacao-recente .descricao2{
    margin-top: 5px;
    font-weight: 500;
    font-size: 0.8em;
    display: block;
    padding-left: 10px;
    color: #777777;
}
aside #notificacoes-home .notificacao-recente .descricao3{
    color: #000;
    font-weight: 600;
}

aside .adicionar-medicamento{
    margin-top: 15px;
    background-color: blue;
    border-radius: 10px;
    height: 50px;
    text-align: center;
}
aside .adicionar-medicamento a{
    color: white;
    font-weight: 600;
    line-height: 50px;
    display: block;
}

@media (max-width: 920px){
    #wrapper{
        grid-template-columns: 26% 72%;
        grid-template-rows: 80px auto;
        grid-gap: 0 2%;
        grid-template-areas: "logo principal"
                             "barra-nav principal"
                             "barra-lateral barra-lateral";
    }
    aside{
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
        grid-template-rows: auto;
        grid-template-areas: "calendario notificacao"
                             "calendario botao-adicionar";
    }
    aside .calendario{
        grid-area: calendario;
        margin-top: 15px;
    }
    aside #notificacoes-home{
        grid-area: notificacao;
        padding-bottom: 30px;
    }
    aside .adicionar-medicamento{
        grid-area: botao-adicionar;
        padding: 9px;
    }
}

@media (max-width: 670px){
    #wrapper{
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        grid-gap: 15px 0;
        grid-template-areas: "logo"
                             "barra-nav"
                             "principal"
                             "barra-lateral";
    }
    header{
        margin-top: 0;
        height: 90px;
    }
    header img{
        height: 70px;
    }
    aside{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-template-rows: auto;
        grid-template-areas: "botao-adicionar"
                             "notificacao";
    }
    aside .calendario{
        display: none;
    }
    aside #notificacoes-home{
        grid-area: notificacao;
        padding-bottom: 30px;
    }
    aside .adicionar-paciente{
        margin-top: 0;
        grid-area: botao-adicionar;
        padding: 9px;
    }
    #barra-navegacao{
        position: relative;
    }
    #barra-navegacao img{
        width: 10%;
        margin-right: 0;
    }
    #barra-navegacao h3{
        width: 20%;
    }
    #barra-navegacao ul{
        margin: 0 auto;
    }
    #barra-navegacao ul li{
        padding: 15px;
        font-size: 0.8em;
        margin-bottom: 0px;
        display: inline;
        float: left;
        margin-left: 0px;
        margin-right: 1px;
    }
    #barra-navegacao ul li:hover{
        border-radius: 10px 10px 0 0;
    }
    #barra-navegacao ul li.ativo{
        border-radius: 10px 10px 0 0;
    }
    #barra-navegacao .sair{
        width: 7%;
        display: block;
        position: absolute;
        top: -85px;
        right: 20px;
    }
}
@media (max-width: 440px){
    
    #barra-navegacao ul{
        margin: 10px auto 0;
    }
    #barra-navegacao ul li{
        padding: 10px;
    }
    #barra-navegacao ul li:hover{
        border-radius: 10px 10px 0 0;
    }
    #barra-navegacao ul li.ativo{
        border-radius: 10px 10px 0 0;
    }
}
@media (max-width: 380px){
    #barra-navegacao ul li{
        padding: 7px;
    }
}