* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background: white;
    min-width: 320px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    opacity: 90%;
}

main h1 {
    font-weight: 600;
    margin-bottom: 1rem;
    position: relative;
    margin-top: 1rem;
    text-align: center;
}

main h3 {
    font-weight: 300;
    margin-bottom: 0.5rem;
    position: relative;
    margin-bottom: 0.5rem;
}

main i {
    float: left;
    color:black;
    font-weight: 600;
    position: relative;
    
}

form {
    display: flex;
    flex-direction: column;
}

form .nome-completo {
    font-size: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nome input {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 50%;
    padding: 0.2rem;
    border-radius: 10px;
    height: 2rem;
    border: solid 0.1rem #00B4D8;
    box-shadow: 1px 1px 2px;
    
}


.sobrenome input{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 50%;
    padding: 0.2rem;
    border-radius: 10px;
    height: 2rem;
    margin-right: 0;
    border: solid 0.1rem #00B4D8;
    box-shadow: 1px 1px 2px;
}

#username {
    width: 100%;
    
}

#surname {
    width: 100%;
}

.idade input {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
    width: 50%;
    padding: 0.2rem;
    border-radius: 10px;
    height: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border: solid 0.1rem #00B4D8;
    box-shadow: 1px 1px 2px;
}

form .configuracoes {
    font-size: 0;
}

#horarios {
    height: 2rem;
    border-radius: 10px;
    width: 60%;
    padding: 0.2rem;
    margin-bottom: 1rem;
    border: solid 0.1rem #00B4D8;
    box-shadow: 1px 1px 2px;
}

#estoque {
    height: 2rem;
    border-radius: 10px;
    width: 20%;
    padding: 0.2rem;
    margin-bottom: 1rem;
    border: solid 0.1rem #00B4D8;
    box-shadow: 1px 1px 2px;
    margin-left: 0.2rem;
}

#cor {
    border: none;
    border-radius: 10px;
    width: 20%
    padding: 0.2rem;
    margin-bottom: 1rem;
    
}

form .botao {
    font-size: 0;
    justify-items: center;
    text-align: center;
    width: 100%;
    
}

form input[type="submit"] {
    margin-top: 1rem;
    padding: 0.4rem;
    width: 75%;
    background: green;
    cursor: pointer;
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background: #00FA9A;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    border: hidden;
    opacity: 10%;
  }
  




