/* =============================EsqueceuASenha?02============================= */
.modal-container04{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-container04.mostrar04{
    display: flex;
}
@keyframes modal04{
    from {
        opacity: 0;
        transform: translate(0, -60, 0);
    }
    to {
        opacity: 1;
        transform: translate(0, 0, 0);
    }
}
.mostrar4 .modal04{
    animation: modal04 .9s;
}
.box5
{
    width: 350px;
    height: 270px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #b0daee;
    text-align: center;
    border-radius: 10px;
    border : none;
    padding: 2% 2%;
}
.bor1
{
   border: 3px double #90c1d6;
   border-radius: 10px;
   height: 234px;
}

legend
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color:#036494;
    text-shadow: 1px 2px 4px #337381;
    cursor: default;
}
para01{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: left;
    color:#036494;
    cursor: default;
}
.box5 input[type=text]{
    background-color: #b0daee;
    display: flexbox;
    margin: 20px auto;
    text-align: center;
    font-size: large;
    border: 1.75px solid rgb(2, 132, 255);
    padding:  9px 14px;
    width: 160px;
    outline: none;
    color: #7c8081;
    border-radius: 10px;
    transition: 0.20s;
    margin-top: 0px;
    margin-left: 0px;
}
.box5 input[type = "text"]:focus
{
    border: 1.75px solid #011AD6;
    color: black;
}
.box5  input[type="submit"]
{
    background-color: #00B7D5;
    margin: 23px auto;
    text-align: center;
    border: 1.5px solid #00B7D5;
    padding:  15px 10px;
    width: 150px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
    align-items: center;
    margin-top: 6px;
    
}
.box5  input[type="submit"]:hover
{
    background: #b0daee;
    border-color: #00B7D5;
    color: #00B7D5;;
}
.volta{
    position: absolute;
    top: -14px;
    left: -14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #b0daee;
    background: #011AD6;
    color: #b0daee;
    font-family: monospace;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(3, 0, 139, 0.37);
    transition: 0.6s;
}
.volta:hover{
    width: 52px;
    height: 52px;
}
@media(max-width:950px){
    .fa{
        left: 10px;
        top: 5px;
    }
}
@media(max-width:750px){
    .fa{
        left: 10px;
        top: 0px;
    }
}
@media(max-width:500px){
    .box5{
        box-shadow: none;
    }
    .box5 fieldset{
        border: none;
    }
    .box5 legend{
        position: absolute;
        top: -110px;
        color: transparent;
        text-shadow: 1px 2px 4px #33738100;
    }
    .box5 para01{
        position: absolute;
        left: 35px;
        top: -10px;
    }
    .box5 input[type=text]{
        position: absolute;
        left: 84.5px;
        top: 30px;
    }
    .box5  input[type="submit"]{
        position: absolute;
        top: 80px;
        left: 105px;
    }
    .volta{
        top: -50px;
        left: 25px;
        width: 40px;
        height: 40px;
    }
    .volta:hover{
        width: 44px;
        height: 44px;
    }
    .fa{
        left: 25px;
        top: 8px;
    }
}
@media(max-width:360px){
    
    .box5 input[type=text]{
        position: absolute;
        left: 87.5px;
        top: 30px;
    }
    .box5  input[type="submit"]{
        position: absolute;
        top: 80px;
        left: 105px;
    }
    .volta{
        top: -45px;
        left: 45px;
        width: 30px;
        height: 30px;
    }
    .volta:hover{
        width: 32px;
        height: 32px;
    }
    .box5 para01{
        position: absolute;
        left: 45px;
        top: -10px;
    }
    .box5  input[type="submit"]{
        position: absolute;
        top: 80px;
        left: 108px;
    }
    
    .fa{
        left: 40px;
        top: 8px;
    }
}