para{
    position: absolute;
    top: 240px;
    left: 75px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-align: left;
}
img{
    position: absolute;
    top: 28%;
    left: 5%;
}
pare{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00B4D7;
    top: 92.4%;
    width: 100%;
    font-size: 22;
    color: white;
    right: 0.5px;
    text-indent: 120px;
    
}
body{
    background-color: rgb(217, 227, 248);
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    background-color: #b0daee;
    text-align: center;
    padding: 5px 15px;
    border-radius: 10px;
    border : none;
    box-shadow:  4px 4px 1px rgb(175, 175, 175);
}
.box input[type = "email"]{
    border: 0;
    background-color: #b0daee;
    display: block;
    margin: 30px auto;
    text-align: left;
    border: 1.5px solid rgb(2, 132, 255);
    padding:  14px 20px;
    width: 260px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
}
.box input[type = "email"]:focus,.box input[type = "senha"]:focus{
    border: 1.5px solid rgb(1, 224, 57)
}
.box input[type = "password"]{
    border: 0;
    background-color: #b0daee;
    display: block;
    margin: 30px auto;
    text-align: left;
    border: 1.5px solid rgb(2, 132, 255);
    padding:  14px 20px;
    width: 260px;
    outline: none;
    color: black;
    border-radius: 10px;
    transition: 0.25s;
}
.box input[type = "password"]:focus,.box input[type = "senha"]:focus{
    border: 1.5px solid rgb(1, 224, 57)
}

.box input[type = "submit"]{
    border: 1.5px solid rgb(2, 132, 255);
    background-color: rgb(2, 132, 255);
    display: block;
    margin: 30px auto;
    text-align: center;
    padding:  20px 20px;
    width: 290px;
    outline: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.25s;
}
.box button[type="submit"]{
    background-color: rgb(2, 4, 138);
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 1.5px solid rgb(2, 4, 138);
    padding:  20px 20px;
    width: 180px;
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    color: rgb(2, 4, 138);
    border-radius: 10px;
    transition: 0.25s;
}
.box button[type="submit"] a:link{
    color:rgb(255, 255, 255) ;
    font-family: sans-serif;
    text-decoration: none;
}
.box button[type="submit"] a:visited{
    color: rgb(255, 255, 255);
}
a:link{
    color:rgb(2, 4, 138) ;
    text-decoration: none;
}
a:visited{
    color: rgb(2, 4, 138);
}
@media only screen and (min-width: 300px) and (max-width:568px) {
         

    img{
        top: 6.2%;
        left: 23.5%;
        width: 50%;
    }
    para{
        display: none;
    }
    pare{
        font-size: x-small;
        top: 94.5%;
        width: 100%;
        right: 0.5px;
        text-indent: 50px;
    }
    body{
        background-color: rgb(217, 227, 248);
        max-width: 100%;
        max-height: 100%;
    }
    .box{
        top: 50%;
        left: 50%;
        padding: 0px 0px;   
    }
    .box input[type = "email"]{
        margin: 20px auto;
        padding:  10px 20px;
        width: 220px;
    }
    .box input[type = "password"]{
        margin: 20px auto;
        padding:  10px 20px;
        width: 220px;
    }
    .box input[type = "submit"]{
        margin: 30px auto;
        padding:  15px 20px;
        width: 225px; 
    }
    .box button[type="submit"]{
        margin: 30px auto;
        text-align: center;
        border: 1.5px solid rgb(2, 4, 138);
        padding:  15px 20px;
        width: 180px;
       
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    
    img{
        position: absolute;
        top: 185px;
        left: 50px;
        width: 400px;
    }
    para{
        position: absolute;
        top: 240px;
        left: 58px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
        text-align: left;
    }
    pare{
        
        top: 93.7%;
        width: 100%;
        font-size: small;
    }
    body{
        background-color: rgb(217, 227, 248);
        max-width: 100%;
        max-height: 100%;
    }
    .box{
        width: 300px;
        padding: 40px;
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%,-50%);
        background-color: #b0daee;
        text-align: center;
        padding: 5px 15px;
        border-radius: 10px;
        border : none;
        box-shadow:  4px 4px 1px rgb(175, 175, 175);   
    }
    .box input[type = "email"]{
        margin: 20px auto;
        padding:  10px 20px;
        width: 220px;
    }
    .box input[type = "password"]{
        margin: 20px auto;
        padding:  10px 20px;
        width: 220px;
    }
    .box input[type = "submit"]{
        margin: 30px auto;
        padding:  15px 20px;
        width: 225px; 
    }
    .box button[type="submit"]{
        margin: 30px auto;
        text-align: center;
        border: 1.5px solid rgb(2, 4, 138);
        padding:  15px 20px;
        width: 180px;
       
    }
}

